{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <section class="login-clean">
        <form method="post">
            {% csrf_token %}
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-android-cart" style="color: rgba(214,51,188,0.94);"></i></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="color: var(--bs-gray-900);background: rgba(214,51,178,0.68);">Log In</button>
            </div>
            <a class="forgot" href="../register">Are You New?, Register Here</a>
            <br> {% if messages %} {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %} {% endif %}
        </form>

    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>